%h1 Welcome to Movies!

%form{id: "form"} 
  %input :search
  %submit 
:javascript
  $.ajax({
     data:      'title=Matrix&format=JSONP',
     url:       'http://www.myapifilms.com/imdb',
     dataType:  'jsonp',
     success:   function (response, textStatus, jqXHR) {
        // Here your code
     }
  });